#authContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 8;

	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: collapse;
	gap: 20px;
	transform: scale(0.9);
	background: #fafafa;
	max-height: 100vh;
	min-height: 100vh;
	overflow: hidden;

	box-sizing: border-box;
}

#authContainer.opened{
	max-height: none;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	max-height: none;
	transition: all 200ms var(--ease-enter) 10ms;
}

#authContainer img{
	margin: 10px;
	width: 72px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#authContainer h2{
	font-size: 2.3rem;
	font-weight: 700;
	text-align: center;
	width: 100%;
	margin: 0;
}

#authContainer form{
	width: 100%;
	max-width: 500px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: white;
	border-radius: 5px;
	padding: 15px;
	overflow-y: auto;
	box-sizing: border-box;
}

#authContainer label{
	font-size: 1.8rem;
	font-weight: 600;
	width: 100%;
	margin: 10px 0;
	padding-left: 20px;
	box-sizing: border-box;
}

#authContainer input{
	margin: 10px 0 0 0;
	width: 90%;
	margin: 0 10% 0 0;
	font-size: 1.6rem;
	padding: 3px 8px;
	border: none;
	outline: none;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
	box-sizing: border-box;
}

#authContainer input:focus{
	box-shadow: 0 0 0 2px rgba(0, 45, 192, 0.1);
}

#authContainer button.submit{
	background: rgb(250, 251, 255);
	margin: 10px 20px;
	padding: 5px 10px;
	font-size: 1.6rem;
	border: none;
	outline: none;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
}

input#iColor{
	width: 30px;
	padding: 1px;
	box-shadow: none;
}

@media screen and (min-width: 800px){
	#authContainer{
		padding: 5%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		flex-direction: row;
		justify-content: center;
	}

	#authContainer form{
		border-radius: 10px;
		width: 100%;
		max-width: 500px;
	}

	#authContainer form.login{
		justify-self: flex-end;
	}

	#authContainer img{
		position: absolute;
		top: 0;
		left: calc(50% - 36px);
	}

}