:root{
	--form-shadow: 0 0 0 0 rgba(0,0,0,0);
	--form-radius: 0;
}

#forms{
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background: rgba(0,0,0,0.3);
	visibility: collapse;
	transition: all 100ms var(--ease-sortir);
}

#forms.opened{
	visibility: visible;
	opacity: 1;
	transition: all 400ms var(--ease-enter);
}

#forms.opened .fromContainer{
	transition: all 400ms var(--ease-enter);
	box-shadow: var(--form-shadow);
}

#forms #addPreview{
	background-image: url('../images/melons.webp');
}

#forms #addArticle{
	background-image: url('../images/legumes.webp');
}

#forms #addCourse{
	background-image: url('../images/etalage.webp');
}

#forms #prices{
	background-image: url('../images/buy.webp');
}

#forms #addPreview{
	background-image: url('../images/melons.webp');
}

.fromContainer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 50px;
	visibility: collapse;

	transform: translateY(200px);
	transition: all 100ms var(--ease-sortir);
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	border-radius: var(--form-radius);
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
}

#forms.formArticle #addArticle, #forms.formPreview #addPreview, #forms.course #addCourse, #forms.prices #prices,
#forms.groupe #addGroupe, #forms.invite #invitation{
	visibility: visible;
	transform: translateY(0);
}

#addGroupe, #invitation{
	background: #a0aeb2;
}

.fromContainer > .blur{
	z-index: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(5px) saturate(180%);
	border-radius: var(--form-radius);
	background: var(--colorBlur);

}

.fromContainer > h1
{
	color: var(--colorText);
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	padding: 8px 8px 8px 50px;
	margin: 0;
	box-sizing: border-box;
}

#invitation article{
	color: var(--colorText);
	position: relative;
	z-index: 2;
	width: 90%;
	margin: 5%;
	font-size: 1.4rem;
}

#prices
{
	overflow: auto;
	flex-direction: column;
	align-items: center;
}

#forms i{
	color: var(--colorText);
	opacity: 0;
	transform: all 100ms ease;
	position: absolute;
	padding: 10px;
	top: 10px;
	left: 10px;
	font-size: 3rem;
}

#addCourse i, #addGroupe i, #invitation i{
	top: 0;
	left: 0;
}

#addArticle i.opened, #addCourse i.opened, #addPreview i.opened, #prices i, #addGroupe i.opened, #invitation i.opened
{
	opacity: 1;
}

#forms form
{
	width: 90%;
	margin: 30px auto 10px auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
}

.prixFlex, .setPrixFlex{
	color: var(--colorText);
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	margin: 0px 0 15px 0px;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	opacity: 0;
	transition: all 300ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
}

#addArticle input, #addCourse input, #addPreview input, #prices input, #addGroupe input, #invitation input
{
	background: var(--colorMain);
	color: var(--colorText);
	outline: none;
	font-size: 1.5rem;
	margin: 0 0 15px 0;
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	border-radius: 5px;
	border: 2px var(--colorTextLight2) solid;
	box-shadow: 0 0 10px -6px rgba(0,0,0,0.3);
	padding: 2px 5px;
	box-sizing: border-box;
	transform: translateY(50px);
	opacity: 0;
	transition: all 300ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
}

#forms input[type="submit"]{
	margin: 20px;
}

#addArticle input:focus, #addCourse input:focus, 
#addPreview input:focus, #prices input:focus, #addGroupe input:focus, #invitation input:focus
{
	background: var(--colorMainLight);
	box-shadow: 0 0 6px -4px rgba(0,0,0,0.5);
	border: 2px var(--colorText) solid;
}

input#prix, input#maxPrice, input#newPrice, input#cTaxes
{
	width: auto;
	margin: 0px 10px 0px 0px;
	flex: 1;
}

#addArticle input.submit, #addCourse input.submit,
#addPreview input.submit, #prices input.submit,
#addGroupe input.submit, #invitation input.submit{
	width: 30%;
	font-weight: 600;
	background: var(--colorMainLight);
}

#addArticle label, #addCourse label, #addPreview label, #prices label, #addGroupe label, #invitation label
{
	color: var(--colorText);
	font-weight: 700;
	font-size: 1.6rem;
	box-sizing: border-box;
	transform: translateY(50px);
	opacity: 0;
	transition: all 300ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
}

.titrePrice
{
	opacity: 0;
	transform: translateY(-10px);
	width: calc(100vw - 90px);
	height: 50px;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 2rem;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	background: var(--colorAddPrev);
	border-radius: 5px;
	cursor: pointer;
	transition: all 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	box-sizing: border-box;
}

#prices i.ms-Icon--Money
{
	position: static;
	top: auto;
	left: auto;
	width: auto;
	height: auto;
	display: inline;
	padding: 0 20px 0 0;
	vertical-align: middle;
	font-size: 3rem;
}

#prices ul
{
	opacity: 0;
	transform: translateY(30px);
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
	grid-gap: 4px;
	padding: 4px;
	box-sizing: border-box;
	transition: all 300ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
}

#prices li
{
	padding: 10px 0px;
	text-align: center;
	border-radius: 4px;
	font-size: 1.7rem;
	background: #ffa811;
	color: white;
}

#addArticle label.opened, #addArticle input.opened, 
#addCourse label.opened, #addCourse input.opened, 
.prixFlex.opened, #addPreview label.opened, 
#addPreview input.opened, 
#prices label.opened, #prices input.opened,
.setPrixFlex.opened, #prices ul.opened, .titrePrice.opened, 
#addGroupe label.opened, #addGroupe input.opened,
#invitation input.opened, #invitation label.opened
{
	transform: translateY(0px);
	opacity: 1;
}

@media screen and (min-width: 900px){
	:root{
		--form-shadow: 0 2px 10px 2px rgba(0,0,0,0.3);
		--form-radius: 10px;
	}

	.fromContainer{
		width: 400px;
		height: 300px;
		left: calc(50% - 200px);
		top: calc(50% - 150px);
		bottom: auto;
		right: auto;
		transform: scale(1.1);
	}

	#invitation, #addCourse{
		height: 500px;
		top: calc(50% - 250px);
	}

	#prices{
		height: 700px;
		top: calc(50% - 350px);
	}

	.titrePrice{
		width: 310px;
	}
}