#mainPanel{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}



#mainPanel > h1
{
	display: none;
	margin: 0px 0px 0px 30px;
	font-size: 2.3rem;
}

#mainPanel header {
	position: relative;
	width: 100%;
	height: 50px;
	min-height: 50px;


	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 0px 5px 0px;
	box-sizing: border-box;
	background: var(--color-theme);
	color: var(--color-text-menu);
	border-radius: 5px;

	background: var(--color-theme);

	box-sizing: border-box;
}

#mainPanel header i{
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	width: 40px;
	height: 40px;
	padding: 5px;
	font-size: 30px;
	color: white;
	border-radius: 5px;
	box-sizing: border-box;
}

#mainPanel > section{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-height: 90vh;

	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 150px;
	overflow: hidden;
	transform-origin: top center;
	animation: hide 100ms cubic-bezier(0.7 , 0 , 1 , 0.5) forwards;
}

@keyframes hide{
	0%{
		transform: scale(1);
		opacity: 1;
		visibility: visible;
		max-height: auto;
	}
	100%{
		transform: scale(0.8);
		opacity: 0;
		visibility: hidden;
		max-height: 90%;
	}
}

state-card {
	--prc: 100%;
	--bar-color: #36a70d;
	width: 100%;
	margin: 10px;
	padding: 20px;
	background: rgb(242 242 245);
	box-shadow: 0 5px 10px -5px rgb(0,0,0,0.07);
	border-radius: 5px;
	box-sizing: border-box;
}

state-card span{
	display: flex;
	flex-direction: column;
}

state-card.alert{
	--bar-color: red;
}

state-card h2{
	font-weight: 600;
	font-size: 2rem;
	padding: 0;
	margin: 0;
}

state-card p{
	font-size: 1.4rem;
	padding: 0;
	margin: 0;
}

state-card div{
	margin-top: 5px;
	width: 100%;
	height: 5px;
	border-radius: 5px;
	background: linear-gradient(to right, var(--bar-color) 50%, white 50%) no-repeat;
	background-size: 200%;
	background-position: calc(100% - var(--prc));
	transition: background-position 900ms var(--ease), background-image 900ms var(--ease);
}

state-card strong{
	font-weight: 700;
}


#panier ul, #liste ul{
	padding: 0;
	width: 100%;
	margin: 10px 0 0 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 7px;
	list-style-type: none;
	
	box-sizing: border-box;
}


#mainPanel.panier #panier{
	visibility: visible;
	max-height: none;
	animation: 300ms show 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
}

#mainPanel.liste #liste{
	visibility: visible;
	max-height: none;
	animation: 300ms show 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
}

#mainPanel.calcul #calcul{
	visibility: visible;
	max-height: none;
	animation: 300ms show 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
}

#mainPanel.menu #menu{
	visibility: visible;
	max-height: none;
	animation: 300ms show 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
}

@keyframes show{
	0%{
		transform: translateY(100px);
		opacity: 0;
	}
	100%{
		transform: none;
		opacity: 1;
	}
}

#recycle{
	background: var(--color-theme-complement);
	color: white;
	font-size: 2rem;
	padding: 10px;
	font-weight: 700;
	border-radius: 2px;
	margin: 10px 10px 5px 10px;
	display: none;
}

#recycle.opened{
	display: block;
}

/* Listes */

.article, .preview
{
	color: white;
	position: relative;
	padding: 0;
	background: var(--colorArticle);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.03);
	border-radius: 5px;
	transition: all 100ms cubic-bezier(0.9, 0.1, 1, 0);
	overflow: hidden;
	max-width: 100vw;
	box-sizing: border-box;
}

.article h2
{
	font-size: 2rem;
	margin: 0px;
}

.preview h2
{
	font-size: 2rem;
	margin: 10px;
}

.article h3
{
	color: var(--colorLightText);
	font-size: 1.5rem;
	margin: 0px;
}

.article i, .preview i
{
	display: none;
	margin: 3px;
	padding: 0 0 2px 2px;
	border-radius: 100px;
	background: var(--color-theme-secondary);
	font-size: 30px;
	position: absolute;
	z-index: 0;
	font-size: 30px;
	right: 10px;
	top: 0;
	box-sizing: border-box;
	animation: spin 10s linear infinite;
}

.article.sync i, .preview.sync i
{
	display: block;
}

@keyframes spin{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}

.article div, .preview div{
	height: 100%;

	padding: 10px 20px;
	background: var(--color-theme-secondary);
	color: var(--color-text-menu);
	position: relative;
	margin-right: 10px;
	border-radius: inherit;
	box-sizing: border-box;

	
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


/* Calcul */
section#calcul
{
	display: block;
	padding: 5px 5px 150px 5px;
	box-sizing: border-box;
}

#calcul article{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

#calcul ul{
	width: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px -5px rgb(0, 0, 0, 7%);
	border-radius: 4px;
	background: rgb(242 242 245);
	margin: 0;
	margin-top: 10px;
	list-style-type: none;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#calcul ul:nth-child(2){
	flex-direction: row;
}

#calcul li{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
	width: 100%;

	font-size: 1.8rem;
	font-weight: 700;
}

#calcul li div{
	background: var(--color-theme-complement);
	padding: 10px;
	margin: 5px;
	border-radius: 2px;

	color: white;
}

#calcul ul:nth-child(2) li{
	width: auto;
	flex-direction: column;
}
	

/* #calcul h2
{
	width: auto;
	position: relative;
	z-index: 2;
	text-transform: uppercase;
	font-weight: 800;
	margin: 10px 0px;
	font-size: 2rem;
	text-align: center;
}

#calcul h3
{
	width: auto;
	margin: 0;
	margin-top: 30px;
	font-size: 2rem;
}

#calcul .card h3{
	margin: 0;
}

#calcul p
{
	font-size: 1.8rem;
	margin-top: 0;
	margin-left: 10px;
	margin-bottom: 10px;
	color: var(--colorTextLight);
} */

#calcul canvas{
	margin-top: 20px;
	transition: opacity 500ms ease;
}

/* Menu */
#menu article{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

article#optsButtons{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 10px 10px;
	margin: 10px 0;
	max-width: 400px;
	width: 100%;
	font-size: 1.7rem;
	box-sizing: border-box;
}

#optsButtons > button{
	font-size: inherit;
	background: var(--color-theme-secondary);
	padding: 10px;
	color: white;
	border-radius: 4px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.35);
}

#optsButtons i{
	vertical-align: -2px;
}

#menu h2{
	position: relative;
	width: 100%;
	text-align: center;
	margin: 10px 0;
	font-size: 2.5rem;
}

#menu h3{
	font-size: 1.8rem;
}

#groupesContainer > div{
	width: 100%;
	padding: 15px;
	white-space: nowrap;
	overflow-x: auto;
	box-sizing: border-box;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

#groupesContainer button{

	color: white;
	font-size: 1.3rem;
	border: none;
	outline: none;
	vertical-align: top;

	box-sizing: border-box;
}

#groupesContainer > button{
	margin: 20px 10px;
	padding: 10px 15px;

	background: var(--color-theme-complement);
	border-radius: 2px;
	align-self: flex-end;
}

button.groupe
{
	position: relative;
	display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
	width: 200px;
	margin: 0 5px;
	padding: 10px 15px 3.3rem 15px;

	scroll-snap-align: center;
	scroll-margin: 0 10px;
	transform: scale(0.99);
	background: #f7f0e6;
	box-shadow: 0px 0.5px 0 1px rgba(0,0,0,0.06);
	border-radius: 2px;
	transition: transform 100ms var(--ease-enter);
}

button.groupe.opened
{
	transform: scale(1) translateY(-2px);
	box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.06);
	background: var(--color-theme-complement);
}

.groupe h4{
	color: black;
	text-transform: capitalize;
	margin: 5px;
	text-align: left;
	font-size: 1.5rem;
}

.groupe ul{
	margin: 5px;
	padding: 0;
	text-align: left;
	font-size: 1.3rem;
	grid-gap: 0;
}

.groupe li{
	color: black;
	list-style-type: none;
}

.groupe i{
	color: black;
	position: absolute;
	display: none;
	padding: 0.5rem;
	right: 5%;
	bottom: 0;
	font-size: 2.2rem;
	align-self: center;
	justify-self: flex-end;
}

.groupe i.ms-Icon--AddFriend
{
	right: auto;
	left: 5%;
}

.groupe.opened li, .groupe.opened h4{
	color: #ffffffe0;
}

.groupe.opened i{
	color: #ffffffe0;
	display: block;
}


#coursesContainer > div{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	padding: 5px;
	box-sizing: border-box;
}

#coursesContainer span{
	width: 100%;
	background-color: var(--color-theme-complement);
	color: var(--color-text-menu);
	border-radius: 5px;
}

#coursesContainer h5{
	font-size: 2rem;
	margin: 10px 0 5px 20px;
}

#coursesContainer p{
	margin: 0 0 10px 30px;
}

#menu .course
{
	position: relative;
	font-size: 1.6rem;
	color: white;
	background: var(--color-theme-complement);
	border: none;
	outline: none;
	height: 50px;
	box-shadow: none;
	padding: 5px;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 5px;

	
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#menu .course.opened
{
	grid-column: 1/3;
	box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.2);
	padding-right: 9rem;
}

.course div{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}


.course i{
	padding: 1.25rem;
	font-size: 2rem;
	display: none;
}

.course.opened i{
	display: block;
}

#menu > i
{
	vertical-align: -20%;
}

@media screen and (min-width: 600px){
	#panier ul, #liste ul
	{
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 900px){
	#mainPanel{
		margin-top: 90px;
	}

	#calcul header, #menu header{
		/* width: 70%; */
		margin: auto;
	}

	#mainPanel #panier ul, #mainPanel #liste ul{
		grid-template-columns: 1fr;
		width: 100%;
		opacity: 1;
		transform: none;
	}

	#mainPanel #panier, #mainPanel #menu{
		left: 10px;
		right: calc(50% + 5px);
		transform-origin: 100% 50%;
	}

	#mainPanel #liste, #mainPanel #calcul{
		right: 10px;
		left: calc(50% + 5px);
		transform-origin: 0 50%;
	}

	#mainPanel.panier #panier, #mainPanel.liste #panier, #mainPanel.menu #menu, #mainPanel.calcul #menu{
		visibility: visible;
		max-height: none;
		animation: 300ms show 90ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
	}

	#mainPanel.liste #liste, #mainPanel.panier #liste, #mainPanel.calcul #calcul, #mainPanel.menu #calcul{
		visibility: visible;
		max-height: none;
		animation: 300ms show 90ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
	}
}

@media screen and (min-width: 1300px){
	#mainPanel #panier ul, #mainPanel #liste ul
	{
		grid-template-columns: 1fr 1fr;
	}
}