:root{
	--menu-radius: 15px;
}

/* Buttons */

#buttons{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 3;
}

#buttons > button{
	position: fixed;
	bottom: 90px;
	right: 10px;
	height: 50px;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 0;

	font-size: 2rem;
	text-align: center;
	font-weight: bold;

    border: white solid 2px;
	outline: none;
	cursor: pointer;
	background: var(--color-theme);
	color: var(--color-text-menu);
	box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.4);
	box-sizing: border-box;

	touch-action: none;
	visibility: hidden;

	opacity: 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#buttons.liste #addPrev, #buttons.panier #addArt, #buttons.menu #addCourse{
	opacity: 1;
	visibility: visible;
	transition: 100ms all 400ms linear;
}

/* Menubar */
#menubar{
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background: var(--color-theme);
	color: var(--color-text-menu);
	border: white solid 2px;
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
	height: 80px;
	font-size: 3rem;

	z-index: 5;
	border-radius: 10px;
}

#menubar ul{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 5px;

	list-style-type: none;

	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(4, 1fr);
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

#menubar li{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background: rgba(255,255,255,0);
	border-radius: 5px;

	
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#menubar.panier li:nth-child(1),
#menubar.liste li:nth-child(2),
#menubar.calcul li:nth-child(3),
#menubar.menu li:nth-child(4){
	background: rgba(255,255,255,0.2);
	animation: circleBGMB 1s forwards cubic-bezier(0.1 , 0.9 , 0.2 , 1);
}

@keyframes circleBGMB{
	0%{
		background: radial-gradient(circle at center, rgba(255,255,255,0.2) 20%, rgba(0,0,0,0) 20%);
		background-size: 100%;
		background-position: center;
	}
	99%{
		background-size: 1000%;
		background-position: center;

	}
	100%{
		background-color: rgba(255,255,255,0.2);	
	}
}

#menubar i{
	width: 3rem;
}

#menubar img{
	filter: brightness(1.4);
	width: 4rem;
}

#menus{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	background: rgba(0,0,0,0);
	transition: all 50ms var(--ease-sortir);
}

#menus.opened{
	visibility: visible;
	background: rgba(0,0,0,0.1);
	transition: all 250ms var(--ease-enter);
}





#refresh
{
	z-index: 3;
	width: 50px;
	height: 50px;
	top: calc(100% - 140px);
	left: 20px;
	position: fixed;
	text-align: center;
	font-weight: bold;
	padding: 9px;
	background:var(--color-theme);
	color: var(--color-text-menu);
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
	transition: all 600ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	border: white solid 2px;
}

.bodyPreview #refresh{
	top: calc(100vh - 70px);
}

#refresh:active
{
	transition: none;
	transform: scale(0.95);
	padding: 11px;
}

#refresh i
{
	transition: all 600ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	font-size: 30px;
	width: 30px;
	height: 30px;
}

#refresh:active i
{
	transition: none;
	font-size: 28px;
}

.rotate{
	animation: rotate 700ms cubic-bezier(.96,.09,.44,1.26) infinite;
}

@keyframes rotate{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}







@media screen and (max-height: 550px){
	.formed #menubar, .formed #refresh{
		opacity: 0;
	}
}

@media screen and (min-width: 900px){
	:root{
		--menu-radius: 8px;
	}

	#buttons > button{
		bottom: 10px;
	}

	button#addArt, button#addCourse{
		right: 50%;
	}

	#buttons.liste .adder, #buttons.panier .adder, #buttons.menu #addCourse, #buttons.calcul #addCourse{
		opacity: 1;
		visibility: visible;
		transition: 100ms all 400ms linear;
	}

	#menubar.panier li:nth-child(2),
	#menubar.liste li:nth-child(2),
	#menubar.calcul li:nth-child(4),
	#menubar.menu li:nth-child(4){
		background: rgba(255,255,255,0.2);
		animation: circleBGMB 1s forwards cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	}

	#refresh, .formed #refresh{
		top: 10px;
		left: 220px;
		opacity: 1;
	}

	#menubar, .formed #menubar{
		bottom: auto;
		right: auto;
		top: 5px;
		left: 5px;
		width: 200px;
		opacity: 1;
	}

	#menubar li:nth-child(1), #menubar li:nth-child(3){
		display: none;
	}

	#menubar ul{
		direction: rtl;
		grid-template-columns: repeat(2, 1fr);
	}
	
}