#modernForms{
	z-index: 6;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0);
	visibility: hidden;
	overflow: hidden;
	transition: background 10ms linear, backdrop-filter 0 linear;
}

#modernForms.opened{
	visibility: visible;
	background: rgba(0,0,0,0.6);
	transition: background 50ms linear, backdrop-filter 50ms linear;
}

#modernForms h2{
	font-size: 2rem;
	color: black;
	font-weight: bold;
	width: 100%;
	text-align: left;
}

#modernForms .formContainer{
	--rad: 10px;

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0;
	overflow: auto;
	z-index: 2;
	transform-origin: 50% 50%;
}

.formsPanel{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.formContainer article{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 20px;
	width: 90%;
	max-width: 300px;
	overflow: hidden;
	
	background: rgba(250, 248, 245, 0.95);
	border-radius: var(--rad);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

	box-sizing: border-box;
}



#modernForms #modernArticleAdder{
	visibility: collapse;
}

#modernForms #modernArticleAdder article{
	opacity: 0;
	transform: translate(70px, 100px) scale(0.7);
}

#modernForms.articleForm #modernArticleAdder{
	visibility: visible;
}

#modernForms.articleForm #modernArticleAdder article{
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition: opacity 300ms ease, transform 300ms var(--ease-enter);
}


#modernForms #modernPreviewAdder{
	visibility: collapse;
}

#modernForms #modernPreviewAdder article{
	opacity: 0;
	transform: translate(70px, 100px) scale(0.7);
}

#modernForms.previewForm #modernPreviewAdder{
	visibility: visible;
}

#modernForms.previewForm #modernPreviewAdder article{
	transform: translate(0, 0) scale(1);
	opacity: 1;
	transition: opacity 150ms ease, transform 150ms var(--ease-enter);
}


#modernForms #modernCourseAdder{
	visibility: collapse;
}

#modernForms #modernCourseAdder article{
	opacity: 0;
	transform: translate(70px, 100px) scale(0.7);
}

#modernForms.courseForm #modernCourseAdder{
	visibility: visible;
}

#modernForms.courseForm #modernCourseAdder article{
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition: opacity 150ms ease, transform 150ms var(--ease-enter);
}



#modernForms #courseEditor{
	visibility: collapse;
}

#modernForms #courseEditor article{
	opacity: 0;
	transform: translate(70px, 100px) scale(0.7);
}

#modernForms.courseEditForm #courseEditor{
	visibility: visible;
}

#modernForms.courseEditForm #courseEditor article{
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition: opacity 150ms ease, transform 150ms var(--ease-enter);
}




#modernForms #modernGroupeAdder{
	visibility: collapse;
}

#modernForms #modernGroupeAdder article{
	opacity: 0;
	transform: scale(0.7);
}

#modernForms.groupeForm #modernGroupeAdder{
	visibility: visible;
}

#modernForms.groupeForm #modernGroupeAdder article{
	opacity: 1;
	transform: scale(1);
	transition: opacity 150ms ease, transform 150ms var(--ease-enter);
}



#modernForms #modernBuyer{
	visibility: collapse;
}

#modernForms #modernBuyer article{
	opacity: 0;
	transform: translate(0, 0) scale(0.7);
}

#modernForms.buyForm #modernBuyer{
	visibility: visible;
}

#modernForms.buyForm #modernBuyer article{
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition: opacity 150ms ease, transform 150ms var(--ease-enter);
}


#modernForms #modernInviteur{
	visibility: collapse;
}

#modernForms #modernInviteur article{
	opacity: 0;
	transform: translate(0, 0) scale(0.7);
}

#modernForms.inviteForm #modernInviteur{
	visibility: visible;
}

#modernForms.inviteForm #modernInviteur article{
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition: opacity 150ms ease, transform 150ms var(--ease-enter);
}




.modernFormTitle{
	--pad: 10px;

	width: 100%;
	background: var(--color-theme);
	color: var(--color-text-menu);
	padding: var(--pad);
	margin: 0;
	text-align: center;
	font-size: 2rem;

	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	box-sizing: border-box;
}

.modernFormTitle i{
	position: absolute;
	left: 0;
	top: 0;
	padding: var(--pad);
	font-size: 2.2rem;
}

#modernForms button{
	--margin: 5px;
	padding: 10px;
	font-size: 2rem;
	background-color: var(--color-theme);
	color: var(--color-text-menu);
	font-weight: 600;
	width: calc(100% - 2*var(--margin));
	margin-top: var(--margin);
	border-radius: 6px;
}

#modernForms button:hover{
	transform: scale(.98);
}

#modernForms p{
	font-size: 1.5rem;
	margin: 10px;
	text-align: center;
}

#modernForms form{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100%;
	margin: 0;
	height: auto;

	padding: 20px;
	padding-bottom: 40px;
	padding-top: 10px;
	background: rgba(0,0,0,0);

	box-sizing: border-box;
}

#modernForms .formflex{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin: 10px 0 10px 0;
}

#modernForms label
{
	font-size: 1.6rem;
	padding: 0 10px;
	width: 100%;
	box-sizing: border-box;
}

#modernForms input{
	width: 100%;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
	font-size: 1.5rem;
	padding: 3px;
	transform: scale(0.98);
	box-sizing: border-box;
}

#modernForms input:focus{
	transform: scale(1);
}

.prixFlex{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
	opacity: 1;
	box-sizing: border-box;
}



#modernForms input[type="submit"]
{
	width: 80px;
	font-weight: 600;
	margin-top: 20px;
	background: var(--color-theme);
	color: white;
	border: none;
	outline: none;
	padding: 5px;
}


@media screen and (min-width: 900px){
	#modernForms #modernArticleAdder article{
		transform: translate(0, 0) scale(0.7);
	}

	#modernForms #modernPreviewAdder article{
		transform: translate(0, 0) scale(0.7);
	}

	#modernForms #modernCourseAdder article{
		transform: translate(0, 0) scale(0.7);
	}

	#modernForms .formContainer{
		padding-bottom: 10%;
	}
	
}

@media screen and (max-height: 500px){
	#modernForms .formContainer{
		padding-bottom: 0;
	}
	
}

@supports (backdrop-filter: blur(20px)){
	#modernForms{
		-webkit-backdrop-filter: blur(0px);
		backdrop-filter: blur(0px);
	}

	#modernForms.opened{
		background: rgba(0,0,0,0.2);
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
	}

	#modernForms article{
		background: rgba(250, 248, 245, 0.88);
	}

	#modernTransitionner .modernFormTitle{
		border-radius: var(--rad);
		box-shadow: none;
	}

}