:root{
	--padding-param: 1rem;
}

#params
{
	position: fixed;
	top: 0;
	left: 30px;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 5;

	font-size: 1.4rem;
	transform: translateX(100px);
	background: white;
	border-radius: 8px 0 0 8px;
	box-shadow: 2px 0px 10px rgba(0,0,0,0.3);
	transition: all 50ms var(--ease-sortir);
	box-sizing: border-box;
}

#params.opened{
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
	transition: all 250ms var(--ease-enter);
}

#params > section{
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 5px;
	padding: 20px var(--padding-param) 10px var(--padding-param);
	border-radius: 10px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

#params > i{
	z-index: 3;
	position: absolute;
	padding: 10px;
	top: 0;
	left: 0;
	font-size: 3rem;
}

#params article{
	width: 100%;
	padding: 40px 0 0 0;
	margin: 20px 0;
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

#params h2{
	z-index: 2;
	position: absolute;
	padding: 5px 10px;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	padding-bottom: 20px;
	text-align: center;
	font-size: 3rem;
	font-weight: 700;
	border-radius: 8px;
	background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 30%)
}

#params h3{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	padding: 0 var(--padding-param);
	width: 100%;
	margin: 0;
	z-index: 1;
	font-size: 2.4rem;
	font-weight: 600;
	box-sizing: border-box;
}

#params label{
	font-size: 1.6rem;
}

article#groupes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: var(--padding-param);
	padding-bottom: 50px;
}

button.groupe
{
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	min-height: 100%;
	padding-bottom: 3rem;

	transform: scale(0.99);
	background: #f6f6f6;
	border: none;
	outline: none;
	box-shadow: 0px 0.5px 0 1px rgba(0,0,0,0.06);
	border-radius: 2px;
	transition: all 100ms var(--ease-enter);
}

.groupe.opened
{
	transform: scale(1) translateY(-2px);
	box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.06);
	background: #f3beb4;

}

.groupe h4{
	text-transform: capitalize;
	margin: 5px;
	text-align: left;
	font-size: 1.3rem;
}

.groupe ul{
	margin: 5px;
	padding: 0;
	text-align: left;
	font-size: 1.3rem;
}

.groupe li{
	list-style-type: none;
}

.groupe i{
	position: absolute;
	display: none;
	padding: 0.5rem;
	right: 5%;
	bottom: 0;
	font-size: 2rem;
	align-self: center;
	justify-self: flex-end;
}

.groupe i.ms-Icon--AddFriend
{
	right: auto;
	left: 5%;
}

.groupe.opened i{
	display: block;
}

#newgroupe{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90%;
	margin: 0 5%;

	background: linear-gradient(45deg, #EF6950, #9C89E9);
	color: white;
	font-size: 1.3rem;
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #EF6950;
	outline: none;
	vertical-align: middle;
	box-sizing: border-box;
}

/* Invitations */
article#invitations{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

#invitations p{
	margin: 0 0 15px 0;
}

#invitations div{
	width: 100%;
	min-height: 30px;
	margin: 10px 0;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
}

#invitations div button{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 5px;
	padding: 5px 10px;
	text-align: left;
	border: none;
	outline: none;
	background: #f3beb4;
	text-transform: capitalize;
	font-size: 1.7rem;
	color: black;
	box-shadow: 0 3px 4px -2px rgba(0,0,0, 0.1);
}

#invitations button i{
	vertical-align: -2px;
	font-size: 1.8rem;
	margin: 0 5px;
	justify-self: end;
}

/* Partie compte */
article#compte{
	flex-direction: column;
	align-items: flex-start;
}

#compte div#idInvit{
	margin: 10px 0;
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

#compte h4{
	margin: 10px 0 0 0;
	font-size: 1.6rem;
	font-weight: normal;
}

#compte p{
	font-size: 1.4rem;
}

div#idInvit h4{
	margin: 0 0 0 10px;
	font-size: 1.5rem;
}

div#idInvit button, #invitations > button, #application button, #conn button{
	outline: none;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
	background: #eee;
	box-shadow: 0 0.3px 1px 1px rgba(0,0,0,0.1);
}

div#idInvit button:active, #invitations > button:active, #application button:active, #conn button:active{
	transform: scale(0.95);
	box-shadow: 0 0.1px 0px 1px rgba(0,0,0,0.1);
}

/* Conn */
article#conn{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#conn button {
	margin: 10px 0;
}

@media screen and (min-width: 900px){
	#params
	{
		transform: translateY(-100px);
		top: 10px;
		left: auto;
		right: 10rem;
		bottom: auto;
		width: 400px;
		height: 650px;

		border-radius: 8px;
		box-shadow: 0 0px 20px -5px rgba(0,0,0,0.2);
	}
}