.activate, .noCourse, .noGroupe
{
	outline: none;
	position: relative;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	height: 61px;
	width: 100%;
	overflow: hidden;
	color: white;
	font-weight: bold;
	padding: 10px 10px 10px 60px;
	margin-bottom: 10px;
	background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	border-radius: 5px;
	cursor: pointer;
	transition: all 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	border: none;
	box-sizing: border-box;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.3);
}

.noCourse{
	background: linear-gradient(90deg, rgba(90,149,213,1) 0%, rgba(0,210,143,1) 100%);
}

.noGroupe{
	background: linear-gradient(10deg, rgb(153, 51, 255) 0%, rgb(255, 51, 51) 100%);
}

.activate h4, .noCourse h4, .noGroupe h4{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 1.9rem;
}

.activate p, .noCourse p, .noGroupe p
{
	margin: 5px 0 0 0;
	text-transform: lowercase;
	font-size: 1.2rem;
	color: rgba(255,255,255,0.95);
}

.activate i, .noCourse i, .noGroupe i
{
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 41px;
}

#leaveGrp, #noGroupe{
	display: none;
	z-index: 6;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	opacity: 0;
	background: rgba(0,0,0,0.3);
	transition: all 300ms ease;
}

#leaveGrp.opened, #noGroupe.opened{
	opacity: 1;
}

#noGroupe{
	z-index: 3;
}

#leaveGrp article, #noGroupe article{
	display: flex;
	flex-direction: column;
	align-items: center;

	opacity: 0;
	transform: scale(0.98);
	max-width: 90vw;
	background: white;
	border-radius: 5px;
	box-shadow: 0 3px 20px -10px rgba(0,0,0,0.4);
	padding: 20px 15px;

	box-sizing: border-box;
	transition: all 200ms var(--ease-sortir);
}

#leaveGrp.opened article, #noGroupe.opened article{
	opacity: 1;
	transform: scale(1);
	transition: all 200ms var(--ease-entrer) 100ms;
}

#leaveGrp h2, #noGroupe h2{
	text-align: center;
	font-size: 1.8rem;
	font-weight: 700;
	margin: 5px 0 10px 0;
}

#leaveGrp p, #noGroupe p{
	text-align: center;
	font-size: 1.2rem;
	margin: 10px 0 10px 0;
}

#leaveGrp div{
	font-size: 1.2rem;
	margin: 10px 0 10px 0;
	width: 100%;
}

#leaveGrp footer, #noGroupe footer{
	display: flex;
	justify-content: space-evenly;

	font-size: 1.2rem;
	margin: 10px 0 10px 0;
	width: 100%;
}

#leaveGrp button, #noGroupe button{
	flex: 1;
	border: none;
	outline: none;
	background: rgb(243, 243, 243);
	padding: 5px;
	margin: 0 8%;
}

#leaveGrp .leaveGrp, #noGroupe button{
	background: rgb(255, 175, 143);
	color: white;
}

#leaveGrp div
{
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	max-width: 150px;
	width: 100%;
	min-height: 80px;
	padding: 10px;

	transform: scale(0.99);
	background: #f6f6f6;
	border: none;
	outline: none;
	box-shadow: 0px 0.5px 0 1px rgba(0,0,0,0.06);
	border-radius: 2px;
	transition: all 100ms var(--ease-enter);
}

#leaveGrp div.opened
{
	transform: scale(1) translateY(-2px);
	box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.06);
	background: #f3beb4;

}

#leaveGrp div h4{
	margin: 5px;
	text-align: left;
	font-size: 1.3rem;
}

#leaveGrp div ul{
	margin: 5px;
	padding: 0;
	text-align: left;
	font-size: 1.3rem;
}

#leaveGrp div li{
	list-style-type: none;
}

#leaveGrp div i{
	display: none;
	position: absolute;
	padding: 0.5rem;
	right: 5%;
	bottom: 0;
	font-size: 2rem;
	align-self: center;
	justify-self: flex-end;
}

#leaveGrp div.opened i{
	display: block;
}

/* Update */
#update{
	z-index: 6;
	display: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	border-radius: 15px;
	background: white;
	box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
}

#update.opened{
	display: flex;
}

#update p{
	font-size: 2rem;
	margin: 10px;
	font-weight: 700;
}

#update button{
	font-size: 2em;
	font-weight: 700;
	border: none;
	outline: none;
	color: white;
	background: linear-gradient(90deg, rgba(90,149,213,1) 0%, rgba(0,210,143,1) 100%);
	width: 98%;
	margin: 1%;
	border-radius: 12px;
	padding: 5px 10px;
}