#mainPanel{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}



#mainPanel > h1
{
	display: none;
	margin: 0px 0px 0px 30px;
	font-size: 2.3rem;
}

#mainPanel header {
	position: relative;
	width: 100%;
	height: 50px;
	min-height: 50px;


	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 0px 5px 0px;
	box-sizing: border-box;
	background: var(--color-theme);
	color: var(--color-text-menu);
	border-radius: 5px;

	background: var(--color-theme);

	box-sizing: border-box;
}

#mainPanel header i{
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	width: 40px;
	height: 40px;
	padding: 5px;
	font-size: 30px;
	color: white;
	border-radius: 5px;
	box-sizing: border-box;
}

#mainPanel > section{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-height: 90vh;

	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 150px;
	overflow: hidden;
	transform-origin: top center;
	animation: hide 100ms cubic-bezier(0.7 , 0 , 1 , 0.5) forwards;
}

@keyframes hide{
	0%{
		transform: scale(1);
		opacity: 1;
		visibility: visible;
		max-height: auto;
	}
	100%{
		transform: scale(0.8);
		opacity: 0;
		visibility: hidden;
		max-height: 90%;
	}
}


#mainPanel ul{
	padding: 0;
	width: 100%;
	margin: 10px 0 0 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 7px;
	list-style-type: none;
	
	box-sizing: border-box;
}


#mainPanel.panier #panier{
	visibility: visible;
	max-height: none;
	animation: 300ms show 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
}

#mainPanel.liste #liste{
	visibility: visible;
	max-height: none;
	animation: 300ms show 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
}

#mainPanel.calcul #calcul{
	visibility: visible;
	max-height: none;
	animation: 300ms show 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
}

#mainPanel.menu #menu{
	visibility: visible;
	max-height: none;
	animation: 300ms show 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
}

@keyframes show{
	0%{
		transform: translateY(100px);
		opacity: 0;
	}
	100%{
		transform: none;
		opacity: 1;
	}
}

#recycle{
	background: var(--color-theme-complement);
	color: white;
	font-size: 2rem;
	padding: 10px;
	font-weight: 700;
	border-radius: 2px;
	margin: 10px 10px 5px 10px;
	display: none;
}

#recycle.opened{
	display: block;
}

/* Listes */

.article, .preview
{
	color: white;
	position: relative;
	padding: 0;
	background: var(--colorArticle);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.03);
	border-radius: 5px;
	transition: all 100ms cubic-bezier(0.9, 0.1, 1, 0);
	overflow: hidden;
	max-width: 100vw;
	box-sizing: border-box;
}

.article h2
{
	font-size: 2rem;
	margin: 0px;
}

.preview h2
{
	font-size: 2rem;
	margin: 10px;
}

.article h3
{
	color: var(--colorLightText);
	font-size: 1.5rem;
	margin: 0px;
}

.article i, .preview i
{
	display: none;
	margin: 3px;
	padding: 0 0 2px 2px;
	border-radius: 100px;
	background: var(--color-theme-secondary);
	font-size: 30px;
	position: absolute;
	z-index: 0;
	font-size: 30px;
	right: 10px;
	top: 0;
	box-sizing: border-box;
	animation: spin 10s linear infinite;
}

.article.sync i, .preview.sync i
{
	display: block;
}

@keyframes spin{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}

.article div, .preview div{
	height: 100%;

	padding: 10px 20px;
	background: var(--color-theme-secondary);
	color: var(--color-text-menu);
	position: relative;
	margin-right: 10px;
	border-radius: inherit;
	box-sizing: border-box;

	
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


/* Calcul */
section#calcul
{
	display: block;
	padding: 5px 5px 150px 5px;
	box-sizing: border-box;
}

#calcul h2
{
	width: auto;
	position: relative;
	z-index: 2;
	text-transform: uppercase;
	font-weight: 800;
	margin: 10px 0px;
	font-size: 2rem;
	text-align: center;
}

#calcul h3
{
	width: auto;
	margin: 0;
	margin-top: 30px;
	font-size: 2rem;
}

#calcul .card h3{
	margin: 0;
}

#calcul p
{
	font-size: 1.8rem;
	margin-top: 0;
	margin-left: 10px;
	margin-bottom: 10px;
	color: var(--colorTextLight);
}

#calcul canvas{
	margin-top: 20px;
	transition: opacity 500ms ease;
}

/* Menu */
#menu article
{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px;
	grid-gap: 5px;
	padding: 5px;
	box-sizing: border-box;
}

#menu h2{
	position: relative;
	margin: 10px 20px;
	font-size: 2rem;
}

#menu .course
{
	position: relative;
	font-size: 1.6rem;
	color: white;
	background: var(--color-theme-complement);
	border: none;
	outline: none;
	height: 50px;
	box-shadow: none;
	padding: 5px;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 5px;

	
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#menu .course.opened
{
	grid-column: 1/3;
	box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.2);
}


.course i{
	position: absolute;
	right: 0;
	top: 0;
	padding: 15px;
	font-size: 2rem;
	display: none;
}

.course.opened i{
	display: block;
}

#menu > i
{
	vertical-align: -20%;
}

@media screen and (min-width: 600px){
	#panier ul, #liste ul
	{
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 900px){
	#mainPanel{
		margin-top: 90px;
	}

	#calcul header, #menu header{
		width: 70%;
		margin: auto;
	}

	#mainPanel #panier ul, #mainPanel #liste ul{
		grid-template-columns: 1fr;
		width: 100%;
		opacity: 1;
		transform: none;
	}

	#mainPanel #panier, #mainPanel #menu{
		left: 10px;
		right: calc(50% + 5px);
		transform-origin: 100% 50%;
	}

	#mainPanel #liste, #mainPanel #calcul{
		right: 10px;
		left: calc(50% + 5px);
		transform-origin: 0 50%;
	}

	#mainPanel.panier #panier, #mainPanel.liste #panier, #mainPanel.menu #menu, #mainPanel.calcul #menu{
		visibility: visible;
		max-height: none;
		animation: 300ms show 90ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
	}

	#mainPanel.liste #liste, #mainPanel.panier #liste, #mainPanel.calcul #calcul, #mainPanel.menu #calcul{
		visibility: visible;
		max-height: none;
		animation: 300ms show 90ms cubic-bezier(0.1 , 0.9 , 0.2 , 1) forwards;
	}
}

@media screen and (min-width: 1300px){
	#mainPanel #panier ul, #mainPanel #liste ul
	{
		grid-template-columns: 1fr 1fr;
	}
}


/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 25px;
	margin: 0px 10px;
	background: transparent;
}

/* Hide default HTML checkbox */
.switch input {
	z-index: 2;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	outline: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0000001a;
	border-radius: 34px;
	transition: 200ms;
}

.slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 19px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	border-radius: 50%;
	transition: 200ms;
}

input:checked + .slider {
	background-color: var(--color-theme-complement);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--color-theme-complement);
}

input:checked + .slider:before {
	transform: translateX(20px);
}


:root{
	--padding-param: 1rem;
}

#params{
	position: fixed;
	top: 0;
	left: 30px;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 5;

	font-size: 1.4rem;
	transform: translateX(100px);
	background: var(--color-background);
	color: var(--color-text);
	border-radius: var(--menu-radius) 0 0 var(--menu-radius);
	box-shadow: var(--shadow2);
	transition: all 50ms var(--ease-sortir);
	box-sizing: border-box;
}

#menus.params #params{
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
	transition: all 250ms var(--ease-enter);
}

#params > section{
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 5px;
	padding: 20px var(--padding-param) 10px var(--padding-param);
	border-radius: 10px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

#params > i{
	z-index: 3;
	position: absolute;
	padding: 10px;
	top: 0;
	left: 0;
	font-size: 3rem;
}

#params article{
	width: 100%;
	padding: 40px 0 0 0;
	margin: 20px 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.ticket{
	margin: 10px 0;
	width: 100%;;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	box-sizing: border-box;
}

#params h2{
	z-index: 2;
	position: absolute;
	padding: 5px 10px;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	padding-bottom: 20px;
	text-align: center;
	font-size: 3rem;
	font-weight: 700;
	border-radius: var(--menu-radius);
	background: linear-gradient(to top, rgba(0,0,0,0) 0%, var(--color-background) 30%)
}

#params h3{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	padding: 0 var(--padding-param);
	width: 100%;
	margin: 0;
	z-index: 1;
	font-size: 2.4rem;
	font-weight: 600;
	box-sizing: border-box;
}

#params label{
	font-size: 1.6rem;

	
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

article#groupes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: var(--padding-param);
	padding-bottom: 50px;

	
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#params button{
	background: var(--color-theme-complement);
	color: white;
	font-size: 1.3rem;
	padding: 10px 15px;
	border-radius: 2px;
	border: none;
	outline: none;
	vertical-align: middle;
	box-sizing: border-box;
}

#newgroupe{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 5%;
}

#params button.groupe
{
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	min-height: 100%;
	padding-bottom: 3rem;

	transform: scale(0.99);
	background: #ffffffa0;
	border: none;
	outline: none;
	box-shadow: 0px 0.5px 0 1px rgba(0,0,0,0.06);
	border-radius: 2px;
	transition: all 100ms var(--ease-enter);
}

#params button.groupe.opened
{
	transform: scale(1) translateY(-2px);
	box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.06);
	background: var(--color-theme-complement);

}

.groupe h4{
	color: black;
	text-transform: capitalize;
	margin: 5px;
	text-align: left;
	font-size: 1.3rem;
}

.groupe ul{
	margin: 5px;
	padding: 0;
	text-align: left;
	font-size: 1.3rem;
}

.groupe li{
	color: black;
	list-style-type: none;
}

.groupe i{
	color: black;
	position: absolute;
	display: none;
	padding: 0.5rem;
	right: 5%;
	bottom: 0;
	font-size: 2rem;
	align-self: center;
	justify-self: flex-end;
}

.groupe i.ms-Icon--AddFriend
{
	right: auto;
	left: 5%;
}

.groupe.opened li, .groupe.opened h4{
	color: #ffffffe0;
}

.groupe.opened i{
	color: #ffffffe0;
	display: block;
}

/* Invitations */
article#invitations{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

#invitations p{
	margin: 0 0 15px 0;
}

#invitations div{
	width: 100%;
	min-height: 30px;
	margin: 10px 0;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
}

#invitations div button{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 5px;
	padding: 5px 10px;
	text-align: left;
	border: none;
	outline: none;
	background: #f3beb4;
	text-transform: capitalize;
	font-size: 1.7rem;
	color: black;
	box-shadow: 0 3px 4px -2px rgba(0,0,0, 0.1);
}

#invitations button i{
	vertical-align: -2px;
	font-size: 1.8rem;
	margin: 0 5px;
	justify-self: end;
}

/* Partie compte */
article#compte{
	flex-direction: column;
	align-items: flex-start;
}

#compte div#idInvit{
	margin: 10px 0;
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

#compte h4{
	margin: 10px 0 0 0;
	font-size: 1.6rem;
	font-weight: normal;
}

#compte p{
	font-size: 1.4rem;
}

div#idInvit h4{
	margin: 0 0 0 10px;
	font-size: 1.5rem;
}

/* Conn */
article#conn{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#conn button {
	margin: 10px 0;
}

@media screen and (min-width: 900px){
	#params
	{
		transform: translateY(-100px);
		top: 10px;
		left: auto;
		right: 10rem;
		bottom: auto;
		width: 400px;
		height: 650px;

		border-radius: 8px;
		box-shadow: 0 0px 20px -5px rgba(0,0,0,0.2);
	}
}


.loader
{
	font-size: 3rem;
	font-weight: bold;
	visibility: collapse;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 8;
	background: rgba(255,255,255,0.80);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loader.opened
{
	visibility: visible;
	opacity: 1;
	transition: visibility 300ms ease-in, opacity 300ms ease-in 1s;
}

.loader h1{
	color: var(--colorText);
	font-size: 2rem;
	font-weight: bold;
	animation: pop 300ms ease-out;
}

.loader .logo
{
	position: relative;
	width: 150px;
	height: 150px;
	animation: pulse 500ms ease infinite alternate;
}

.loader img
{
	position: absolute;
	width: 100%;
	height: auto;
}

.loader img:nth-child(2)
{
	animation: 1.1s pulsar 500ms ease infinite alternate;
}

.loader img:nth-child(3)
{
	animation: 1.2s pulsar 500ms ease infinite alternate;
}

.loader img:nth-child(4)
{
	animation: 1.3s pulsar 500ms ease infinite alternate;
}

@keyframes pulsar{
	30%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.05);
	}
	70%{
		transform: scale(1);
	}
}

.loader img.opened
{
	transform: scale(1);
	opacity: 1;
	transition: all 500ms cubic-bezier(0.1, 0.9, 0, 1) 300ms;
}





.options{
	--top: 30px;
	--left: 0;
	--width: 94%;
	--heigth: 50px;

	visibility: hidden;
	opacity: 0;
	transform: scale(0.8);

	position: absolute;
	top: var(--top);
	left: var(--left);
	width: var(--width);
	height: var(--height);
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 2.5rem;
	grid-gap: 10px;
	padding: 10px;

	background: white;
	box-shadow: 0 0 15px 6px rgba(0,0,0,0.07);
	border-radius: 8px;
	transition-property: opacity, transform, visibility;
	transition-duration: 50ms;
	transition-timing-function: var(--ease-sortir);
	box-sizing: border-box;
}

#liste .options{
	grid-template-columns: repeat(3, 1fr);
}

.options.opened{
	visibility: visible;
	opacity: 1;
	transition-property: opacity, transform, visibility;
	transition-duration: 300ms;
	transition-timing-function: var(--ease-enter);
	transform: none;
}

.options > i, .options > h4 {
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options > i{
	background-color: rgba(0,0,0,0.02);
	border-radius: 8px;
}

.options h4{
	font-size: 1.7rem;
	margin: 0;
}

.promptActivation, .promptEmpty{
	background-color: var(--color-theme-secondary);
	color: var(--color-text-menu);
	border-radius: 5px;
	padding: 30px 10px;
	text-align: center;
	white-space: break-spaces;
}

.promptEmpty{
	background-color: var(--color-theme-complement);
}

.promptActivation i{
	margin: 10px;
}

.promptActivation h4, .promptEmpty h4{
	font-size: 2rem;
	margin: 0 0 10px 0;
}

.promptActivation h5, .promptEmpty h5{
	font-size: 1.5rem;
	margin: 0 0 10px 0;
}

.promptActivation p, .promptEmpty p{
	color: #ffffffd0;
}

.promptActivation button, .promptEmpty button{
	background-color: white;
	color: var(--color-theme-secondary);
	margin: 10px auto 0 auto;
	padding: 5px 15px;
	font-size: 2rem;
	border: none;
	outline: none;
	box-sizing: border-box;
}

.promptEmpty button{
	color: var(--color-theme-complement);
}

#modal{
	visibility: collapse;
	display: flex;
	z-index: 6;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	opacity: 0;
	background: rgba(0,0,0,0.3);
	color: var(--color-text);
	transition: all 300ms ease;
}

#modal.opened{
	visibility: visible;
	opacity: 1;
}

#modal article{
	display: none;
	flex-direction: column;
	align-items: center;

	opacity: 0;
	transform: scale(0.98);
	max-width: 90vw;
	background: #ffffff;
	border-radius: 5px;
	padding: 20px 15px;

	box-sizing: border-box;
	transition: all 200ms var(--ease-sortir);

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#modal.noGroupe{
	z-index: 3;
}

#modal.leaveGroupe #leaveGroupe{
	display: flex;
	opacity: 1;
	transform: scale(1);
	transition: all 200ms var(--ease-enter) 100ms;
}

#modal.noGroupe #noGroupe{
	display: flex;
	opacity: 1;
	transform: scale(1);
	transition: all 200ms var(--ease-enter) 100ms;
}

#modal.deleteAll #deleteAll{
	display: flex;
	opacity: 1;
	transform: scale(1);
	transition: all 200ms var(--ease-enter) 100ms;
}

#modal.deleteCourse #deleteCourse{
	display: flex;
	opacity: 1;
	transform: scale(1);
	transition: all 200ms var(--ease-enter) 100ms;
}

#modal h2{
	text-align: center;
	font-size: 1.8rem;
	font-weight: 700;
	margin: 5px 0 10px 0;
}

#modal p{
	text-align: center;
	font-size: 1.2rem;
	margin: 10px 0 10px 0;
}

#modal div{
	font-size: 1.2rem;
	margin: 10px 0 10px 0;
	width: 100%;
}

#modal footer{
	display: flex;
	justify-content: space-evenly;

	font-size: 1.2rem;
	margin: 10px 0 10px 0;
	width: 100%;
}

#modal button{
	flex: 1;
	border: none;
	outline: none;
	background: rgb(243, 243, 243);
	padding: 5px;
	margin: 0 8%;
}

#modal .leaveGrp, #noGroupe button, #deleteAll .supprConf, #deleteCourse .supprConfCourse{
	background: rgb(255, 175, 143);
	color: white;
}

/* Groupe dans le modal */

#modal div
{
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	max-width: 150px;
	width: 100%;
	min-height: 80px;
	padding: 10px;

	transform: scale(0.99);
	background: white;
	color: black;
	border: none;
	outline: none;
	box-shadow: 0px 0.5px 0 1px rgba(0,0,0,0.06);
	border-radius: 2px;
	transition: all 100ms var(--ease-enter);
}

#modal div.opened
{
	transform: scale(1) translateY(-2px);
	box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.06);
	background: #f3beb4;

}

#modal div h4{
	margin: 5px;
	text-align: left;
	font-size: 1.3rem;
}

#modal div ul{
	margin: 5px;
	padding: 0;
	text-align: left;
	font-size: 1.3rem;
}

#modal div li{
	list-style-type: none;
}

#modal div i{
	display: none;
	position: absolute;
	padding: 0.5rem;
	right: 5%;
	bottom: 0;
	font-size: 2rem;
	align-self: center;
	justify-self: flex-end;
}

#modal div.opened i{
	display: block;
}

/* Notification */
.notification{
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	 
	z-index: 10;
	border-radius: 15px;
	background: white;
	color: black;
	opacity: 0;
	transform: translateY(100px);
	box-shadow: 0 0 10px rgba(0,0,0,0.18);
	transition: all 100ms var(--ease-sortir);
}

.notification.opened{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: all 300ms var(--ease-enter);
}

.notification h2{
	color: #00ad56;
	font-size: 2.3rem;
	margin: 10px;
	font-weight: 700;
	text-align: center;
}

#erreur h2{
	color: #d13438;
}

.notification p{
	text-align: center;
	font-size: 1.8rem;
	margin: 10px;
	color: var(--colorTextLight);
}

.notification div{
	display: flex;
	align-items: center;
	width: 99%;
	margin: 0.5%;
	gap: 1%;
	box-sizing: border-box;
}

.notification button{
	font-size: 2em;
	font-weight: 700;
	border: none;
	outline: none;
	color: white;
	margin: 0.5%;
	background: linear-gradient(90deg, rgba(90,149,213,1) 0%, rgba(0,210,143,1) 100%);
	flex: 1;
	border-radius: 12px;
	padding: 5px 10px;
}

#erreur button:nth-child(1){
	background: #d13438;
}

#erreur button.errorGradient{
	background: linear-gradient(10deg, rgb(153, 51, 255) 0%, rgb(255, 51, 51) 100%);
}

button.greyish{
	flex: 0.5;
	background: #eee;
	color: #444;
}

@media screen and (min-width: 900px){
	.notification{
		left: calc(50% - 300px);
		right: auto;
		width: 600px;
	}

	#modal article{
		max-width: 40vw;
	}
}

@supports (backdrop-filter: blur(20px)){

	.notification{
		background: rgba(255, 255, 255, 0.93);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
	}

}


:root{
	--form-shadow: 0 0 0 0 rgba(0,0,0,0);
	--form-radius: 0;
}

#forms{
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background: rgba(0,0,0,0.3);
	visibility: collapse;
	transition: all 100ms var(--ease-sortir);
}

#forms.opened{
	visibility: visible;
	opacity: 1;
	transition: all 400ms var(--ease-enter);
}

#forms.opened .fromContainer{
	transition: all 400ms var(--ease-enter);
	box-shadow: var(--form-shadow);
}

/* #forms #addPreview{
	background-image: url('../images/melons.webp');
}

#forms #addArticle{
	background-image: url('../images/legumes.webp');
}

#forms #addCourse{
	background-image: url('../images/etalage.webp');
}

#forms #prices{
	background-image: url('../images/buy.webp');
}

#forms #addPreview{
	background-image: url('../images/melons.webp');
} */

#forms .fromContainer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 50px;
	visibility: collapse;

	transform: translateY(200px);
	transition: all 100ms var(--ease-sortir);
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	border-radius: var(--form-radius);
	box-sizing: border-box;
	background-size: cover;
	background-position: center;

	
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#forms.formArticle #addArticle, #forms.formPreview #addPreview, #forms.course #addCourse, #forms.prices #prices,
#forms.groupe #addGroupe, #forms.invite #invitation{
	visibility: visible;
	transform: translateY(0);
}

#addGroupe, #invitation{
	background: #a0aeb2;
}

#forms .fromContainer > .blur{
	z-index: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border-radius: var(--form-radius);
	background: var(--color-blur);

}

#forms .fromContainer > h1
{
	color: var(--color-text);
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	padding: 8px 8px 8px 50px;
	margin: 0;
	box-sizing: border-box;
}

#invitation article{
	color: var(--color-text);
	position: relative;
	z-index: 2;
	width: 90%;
	margin: 5%;
	font-size: 1.4rem;
}

#prices
{
	overflow: auto;
	flex-direction: column;
	align-items: center;
}

#forms i{
	color: var(--color-text);
	opacity: 0;
	transform: all 100ms ease;
	position: absolute;
	padding: 10px;
	top: 10px;
	left: 10px;
	font-size: 3rem;
}

#addCourse i, #addGroupe i, #invitation i{
	top: 0;
	left: 0;
}

#addArticle i.opened, #addCourse i.opened, #addPreview i.opened, #prices i, #addGroupe i.opened, #invitation i.opened
{
	opacity: 1;
}

#forms form
{
	width: 90%;
	margin: 30px auto 10px auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
}

.prixFlex, .setPrixFlex{
	color: var(--color-text);
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	margin: 0px 0 15px 0px;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	opacity: 0;
	transition: all 300ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
}

#addArticle input, #addCourse input, #addPreview input, #prices input, #addGroupe input, #invitation input
{
	background: #00000030;
	color: black;
	outline: none;
	font-size: 1.5rem;
	margin: 0 0 15px 0;
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	border-radius: 5px;
	border: 2px var(--color-textLight2) solid;
	box-shadow: 0 0 10px -6px rgba(0,0,0,0.3);
	padding: 2px 5px;
	box-sizing: border-box;
	transform: translateY(50px);
	opacity: 0;
	transition: all 300ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
}

#forms input[type="submit"]{
	margin: 20px;
}

#addArticle input:focus, #addCourse input:focus, 
#addPreview input:focus, #prices input:focus, #addGroupe input:focus, #invitation input:focus
{
	background: white;
	box-shadow: 0 0 6px -4px rgba(0,0,0,0.5);
	border: 1px var(--color-text) solid;
}

input#prix, input#maxPrice, input#newPrice, input#cTaxes
{
	width: auto;
	margin: 0px 10px 0px 0px;
	flex: 1;
}

#addArticle input.submit, #addCourse input.submit,
#addPreview input.submit, #prices input.submit,
#addGroupe input.submit, #invitation input.submit{
	width: 30%;
	font-weight: 600;
	background: white;
}

#addArticle label, #addCourse label, #addPreview label, #prices label, #addGroupe label, #invitation label
{
	color: var(--color-text);
	font-weight: 700;
	font-size: 1.6rem;
	box-sizing: border-box;
	transform: translateY(50px);
	opacity: 0;
	transition: all 300ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
}

.titrePrice
{
	opacity: 0;
	transform: translateY(-10px);
	width: calc(100vw - 90px);
	height: 50px;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 2rem;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	background: var(--color-theme-complement);
	border-radius: 5px;
	transition: all 200ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	box-sizing: border-box;
}

#prices i.ms-Icon--Money
{
	color: inherit;
	position: static;
	top: auto;
	left: auto;
	width: auto;
	height: auto;
	display: inline;
	padding: 0 20px 0 0;
	vertical-align: middle;
	font-size: 3rem;
}

#prices ul
{
	opacity: 0;
	transform: translateY(30px);
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
	grid-gap: 4px;
	padding: 4px;
	box-sizing: border-box;
	transition: all 300ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
}

#prices li
{
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10px 0px;
	text-align: center;
	border-radius: 4px;
	font-size: 1.7rem;
	background: rgba(255, 168, 17, 0.1);
	color: black;
}

#addArticle label.opened, #addArticle input.opened, 
#addCourse label.opened, #addCourse input.opened, 
.prixFlex.opened, #addPreview label.opened, 
#addPreview input.opened, 
#prices label.opened, #prices input.opened,
.setPrixFlex.opened, #prices ul.opened, .titrePrice.opened, 
#addGroupe label.opened, #addGroupe input.opened,
#invitation input.opened, #invitation label.opened
{
	transform: translateY(0px);
	opacity: 1;
}

@media screen and (min-width: 900px){
	:root{
		--form-shadow: 0 2px 10px 2px rgba(0,0,0,0.3);
		--form-radius: 10px;
	}

	#forms .fromContainer{
		width: 400px;
		height: 300px;
		left: calc(50% - 200px);
		top: calc(50% - 150px);
		bottom: auto;
		right: auto;
		transform: scale(1.1);
	}

	#addArticle{
		height: 400px;
		top: calc(50% - 200px);
	}

/* 	#invitation, #addCourse{
		height: 500px;
		top: calc(50% - 250px);
	} */

	#prices{
		height: 90%;
		top: 5%;
	}

	#forms .titrePrice{
		width: 310px;
	}
}


#modernForms{
	z-index: 5;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0);
	backdrop-filter: blur(0px);
	visibility: hidden;
	overflow: hidden;
	transition: background 10ms linear, backdrop-filter 0 linear;
}

#modernForms.opened{
	visibility: visible;
	background: rgba(0,0,0,0.6);
	transition: background 50ms linear, backdrop-filter 50ms linear;
}

#modernForms h2{
	font-size: 2rem;
	color: black;
	font-weight: bold;
	width: 100%;
	text-align: left;
}

#modernForms .formContainer{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	max-height: 600px;
	overflow: auto;
	z-index: 2;
	transform-origin: 50% 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#modernForms #modernArticleAdder{
	--rad: 10px;
	opacity: 0;
	transform: translate(70px, 100px) scale(0.7);
	visibility: collapse;
}

#modernForms.articleForm #modernArticleAdder{
	transition: opacity 300ms ease;
	visibility: visible;
	transform: translate(0, 0) scale(1);
	transition: transform 300ms var(--ease-enter);
	opacity: 1;
}

#modernForms #modernCourseAdder{
	--rad: 10px;
	opacity: 0;
	transform: translate(70px, 100px) scale(0.7);
	visibility: collapse;
}

#modernForms.courseForm #modernCourseAdder{
	transition: opacity 300ms ease;
	visibility: visible;
	transform: translate(0, 0) scale(1);
	transition: transform 300ms var(--ease-enter);
	opacity: 1;
}

#modernForms #modernPreviewAdder{
	--rad: 10px;
	opacity: 0;
	transform: translate(70px, 100px) scale(0.7);
	visibility: collapse;
}

#modernForms.previewForm #modernPreviewAdder{
	transition: opacity 300ms ease;
	visibility: visible;
	transform: translate(0, 0) scale(1);
	transition: transform 300ms var(--ease-enter);
	opacity: 1;
}

#modernForms #modernBuyer{
	--rad: 10px;
	opacity: 0;
	transform: translate(0, 0) scale(0.7);
	visibility: collapse;
}

#modernForms.buyForm #modernBuyer{
	transition: opacity 300ms ease;
	visibility: visible;
	transform: translate(0, 0) scale(1);
	transition: transform 300ms var(--ease-enter);
	opacity: 1;
}




.modernFormTitle{
	position: relative;
	--pad: 10px;
	width: 90%;
	max-width: 300px;
	background: var(--color-theme);
	color: var(--color-text-menu);
	padding: var(--pad);
	margin: 0;
	text-align: center;
	font-size: 2rem;
	border-radius: var(--rad) var(--rad) 0 0;
	z-index: 2;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;

	box-sizing: border-box;
}

.modernFormTitle i{
	position: absolute;
	left: 0;
	top: 0;
	padding: var(--pad);
	font-size: 2.7rem;
}

#modernForms form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	width: 90%;
	max-width: 300px;
	height: auto;
	padding: 20px;
	padding-bottom: 40px;
	padding-top: 10px;
	background: rgba(250, 248, 245, 0.95);
	border-radius: 0 0 var(--rad) var(--rad);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
}

#modernForms .formflex{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin: 10px 0 10px 0;
}

#modernForms label
{
	font-size: 1.6rem;
	margin-left: 10px;
	box-sizing: border-box;
}

#modernForms input{
	width: 100%;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
	font-size: 1.5rem;
	padding: 3px;
	transform: scale(0.98);
	box-sizing: border-box;
}

#modernForms input:focus{
	transform: scale(1);
}	

.prixFlex{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
	opacity: 1;
	box-sizing: border-box;
}



#modernForms input.submit
{
	width: 80px;
	font-weight: 600;
	margin-top: 20px;
	background: var(--color-theme);
	color: white;
	border: none;
	outline: none;
	padding: 5px;
}


@media screen and (min-width: 900px){
	#modernForms #modernArticleAdder{
		transform: translate(0, 0) scale(0.7);
	}

	#modernForms #modernPreviewAdder{
		transform: translate(0, 0) scale(0.7);
	}

	#modernForms #modernCourseAdder{
		transform: translate(0, 0) scale(0.7);
	}
	
		

	#modernForms .formContainer{
		transform-origin: 50% 50%;
	}
}

@supports (backdrop-filter: blur(20px)){

	#modernForms.opened{
		background: rgba(0,0,0,0.2);
		backdrop-filter: blur(20px);
	}

	#modernForms form{
		background: rgba(250, 248, 245, 0.88);
	}

	#modernTransitionner .modernFormTitle{
		border-radius: var(--rad);
		box-shadow: none;
	}

}


:root{
	--menu-radius: 15px;
}

/* Buttons */

#buttons{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 3;
}

#buttons > button{
	position: fixed;
	bottom: 90px;
	right: 10px;
	height: 50px;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 0;

	font-size: 2rem;
	text-align: center;
	font-weight: bold;

    border: white solid 2px;
	outline: none;
	cursor: pointer;
	background: var(--color-theme);
	color: var(--color-text-menu);
	box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.4);
	box-sizing: border-box;

	touch-action: none;
	visibility: hidden;

	opacity: 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#buttons.liste #addPrev, #buttons.panier #addArt, #buttons.menu #addCourse{
	opacity: 1;
	visibility: visible;
	transition: 100ms all 400ms linear;
}

/* Menubar */
#menubar{
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background: var(--color-theme);
	color: var(--color-text-menu);
	border: white solid 2px;
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
	height: 80px;
	font-size: 3rem;

	z-index: 5;
	border-radius: 10px;
}

#menubar ul{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 5px;

	list-style-type: none;

	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(4, 1fr);
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

#menubar li{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background: rgba(255,255,255,0);
	border-radius: 5px;

	
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#menubar.panier li:nth-child(1),
#menubar.liste li:nth-child(2),
#menubar.calcul li:nth-child(3),
#menubar.menu li:nth-child(4){
	background: rgba(255,255,255,0.2);
	animation: circleBGMB 1s forwards cubic-bezier(0.1 , 0.9 , 0.2 , 1);
}

@keyframes circleBGMB{
	0%{
		background: radial-gradient(circle at center, rgba(255,255,255,0.2) 20%, rgba(0,0,0,0) 20%);
		background-size: 100%;
		background-position: center;
	}
	99%{
		background-size: 1000%;
		background-position: center;

	}
	100%{
		background-color: rgba(255,255,255,0.2);	
	}
}

#menubar i{
	width: 3rem;
}

#menubar img{
	filter: brightness(1.4);
	width: 4rem;
}

#menus{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: rgba(0,0,0,0);
	transition: all 50ms var(--ease-sortir);
}

#menus.opened{
	visibility: visible;
	background: rgba(0,0,0,0.1);
	transition: all 250ms var(--ease-enter);
}





#refresh
{
	z-index: 3;
	width: 50px;
	height: 50px;
	top: calc(100% - 140px);
	left: 20px;
	position: fixed;
	text-align: center;
	font-weight: bold;
	padding: 9px;
	background:var(--color-theme);
	color: var(--color-text-menu);
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
	transition: all 600ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	border: white solid 2px;
}

.bodyPreview #refresh{
	top: calc(100vh - 70px);
}

#refresh:active
{
	transition: none;
	transform: scale(0.95);
	padding: 11px;
}

#refresh i
{
	transition: all 600ms cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	font-size: 30px;
	width: 30px;
	height: 30px;
}

#refresh:active i
{
	transition: none;
	font-size: 28px;
}

.rotate{
	animation: rotate 700ms cubic-bezier(.96,.09,.44,1.26) infinite;
}

@keyframes rotate{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}







@media screen and (max-height: 550px){
	.formed #menubar, .formed #refresh{
		opacity: 0;
	}
}

@media screen and (min-width: 900px){
	:root{
		--menu-radius: 8px;
	}

	#buttons > button{
		bottom: 10px;
	}

	button#addArt, button#addCourse{
		right: 50%;
	}

	#buttons.liste .adder, #buttons.panier .adder, #buttons.menu #addCourse, #buttons.calcul #addCourse{
		opacity: 1;
		visibility: visible;
		transition: 100ms all 400ms linear;
	}

	#menubar.panier li:nth-child(2),
	#menubar.liste li:nth-child(2),
	#menubar.calcul li:nth-child(4),
	#menubar.menu li:nth-child(4){
		background: rgba(255,255,255,0.2);
		animation: circleBGMB 1s forwards cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	}

	#refresh, .formed #refresh{
		top: 10px;
		left: 220px;
		opacity: 1;
	}

	#menubar, .formed #menubar{
		bottom: auto;
		right: auto;
		top: 5px;
		left: 5px;
		width: 200px;
		opacity: 1;
	}

	#menubar li:nth-child(1), #menubar li:nth-child(3){
		display: none;
	}

	#menubar ul{
		direction: rtl;
		grid-template-columns: repeat(2, 1fr);
	}
	
}


#authContainer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 8;

	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: collapse;
	gap: 20px;
	transform: scale(0.9);
	background: #fafafa;
	border-radius: 4px;
}

#authContainer.opened{
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	max-height: none;
	transition: all 200ms var(--ease-enter) 10ms;
}

#authContainer img{
	margin: 10px;
	width: 72px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#authContainer h2{
	border-bottom: 2px solid rgba(0,0,0,0);
	border-bottom: 2px solid black;
	padding-left: 10px;
	font-size: 2rem;
	font-weight: 700;
	height: auto;
	margin: 0;
}

#authContainer form{
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: white;
	border-radius: 5px;
	padding: 15px;
	overflow-y: auto;
	box-sizing: border-box;
}

#authContainer label{
	font-size: 1.8rem;
	font-weight: 600;
	margin: 10px 0 0 10px;
}

#authContainer input{
	margin: 5px 0 20px 0;
	width: 80%;
	font-size: 1.6rem;
	padding: 3px 8px;
	border: none;
	outline: none;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
	box-sizing: border-box;
}

#authContainer input:focus{
	box-shadow: 0 0 0 2px rgba(0, 45, 192, 0.1);
}

#authContainer button.submit{
	background: rgb(250, 251, 255);
	margin: 10px 20px;
	padding: 5px 10px;
	font-size: 1.6rem;
	border: none;
	outline: none;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
}

input#iColor{
	width: 30px;
	padding: 1px;
	box-shadow: none;
}

@media screen and (max-width: 800px){
	#authContainer{
		border-radius: 12px;
		grid-template-rows: 0.8fr 6.5fr 0.8fr 10.5fr;
		bottom: auto;
		grid-template-columns: 1fr;
	}
	
	#authContainer.opened{
		height: auto;
	}

	#authContainer input{
		width: 100%;
	}

	#authContainer form{
		border-radius: 10px;
	}

}



:root {
	font-size: 10px;
	font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;

	--previewS: 95%;
    --previewL: 80%;
	--color-theme: #022d6f;
	--color-theme-secondary: #005a9e;
	--color-theme-complement: #c8974c;
	--color-background: white;
	--color-text-menu: white;
	--color-text: black;
	--color-blur: linear-gradient(to top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.8) 70%);
	--ease-enter: cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	--ease: cubic-bezier(0.8 , 0 , 0.2 , 1);
	--ease-sortir: cubic-bezier(0.7 , 0 , 1 , 0.5);
	background: var(--color-background);

	/* Variables css */
	/* --colorHeader: #2d2929;
	--colorHeaderTablet: #211c1c;
	--colorCourse: #885e58;
	--colorText: white;
	--colorTextLight: rgb(236, 236, 236);
	--colorTextLight2: rgb(218, 218, 218);
	--colorAdd: rgb(0,132,195);
	--colorAddPrev: black;
	--colorAddBt: black;
	--colorMain: black;
	--colorMainLight: hsl(0, 3%, 12%);
	--colorMainLight2: hsl(0, 3%, 25%);
	--colorMainAlpha: rgba(0,0,0,0.7);
	--colorText: white;
	--previewS: 10%;
	--previewL: 45%;
	--colorArticleButton: #404746;
	--colorArticle: linear-gradient(to right, #535a61 0%, var(--colorArticleButton) 90%);
	--colorLight: rgb(46, 44, 44);
	--shadow2: 0 0 10px 2px rgba(255,255,255,0.1);
	
	--colorBlur: linear-gradient(to top, rgba(30,30,30,0.7) 0%, rgba(30,30,30,1) 70%);

	--colorMax: var(--colorText); */
	min-height: 100vh;
}

/* :root.theme-light {
	--colorHeader: #ebf3f5;
	--colorHeaderTablet: #ecf2f3;
	--colorCourse: #fdebe8;
	--colorText: black;
	--colorTextLight: #333;
	--colorTextLight2: rgb(85, 64, 64);
	--previewS: 80%;
	--previewL: 70%;
	--colorArticleButton: #d5f6f0;
	--colorArticle: linear-gradient(to right, #f7fbfe 0%, #eefcf9 90%);
	--colorLight: rgb(250,250,250);
	--shadow2: 0 0 10px 2px rgba(0,0,0,0.1);
	--colorMain: white;
	--colorMainLight: hsl(20, 27%, 98%);
	--colorMainLight2: hsl(18, 25%, 93%);
	--colorMainAlpha: rgba(255,255,255,0.7);
	--colorBlur: linear-gradient(to top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,1) 70%);
} */

body{
	background: var(--colorMain);
	margin: 0;
  	min-height: -webkit-fill-available;
}

button{
	background: none;
	border: none;
	outline: none;
}

.hide{
	display: none;
}

img{
	width: auto;
	height: auto;
}

.bodyPreview{
	background: var(--colorMainLight);
	transition: all 300ms ease;
}

.card{
	flex: 1;
	margin: 2px;
	padding: 10px;
	background-color: var(--colorMainLight2);
	border-radius: 6px;
}

#touchSurface
{
	position: absolute;
	height: 56px;
	left: 0;
	right: calc(3rem + (56px - 3rem)/2);
	top: 0;
	z-index: 2;
}

.offline
{
	overflow: hidden;
	height: 61px;
	position: relative;
	text-transform: uppercase;
	font-size: 1.9rem;
	color: white;
	text-align: right;
	font-weight: bold;
	background: linear-gradient(90deg,#ff8a00,#e52e71);
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.3);
}

.offline p
{
	margin: 5px 0 0 0;
	text-transform: lowercase;
	font-size: 1.2rem;
	color: rgba(255,255,255,0.95);
}

.offline i
{
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 41px;
}

.install
{
	z-index: 6;
	position: fixed;
	top: 15vh;
	left: 10px;
	right: 10px;
	height: 200px;
	padding: 30px 20px;
	background: linear-gradient(45deg, rgba(64,32,145,1) 0%, rgba(0,255,214,1) 100%);
	border-radius: 15px;
	flex-direction: column;
	align-items: center;
	color: white;
	box-sizing: border-box;
	display: none;
	box-shadow: 0 4px 10px -6px rgba(0,0,0,0.3);
	opacity: 0;
	transform: scale(0.97);
	transform-origin: 50% 20%;
	transition: all 100ms cubic-bezier(0.7, 0, 1, 0);
}

.install.opened
{
	opacity: 1;
	transform: scale(1);
	transition: all 300ms cubic-bezier(0.1, 1, 0, 1);
}

.install button
{
	font-size: 2rem;
	font-weight: bold;
	margin: 5px 0;
	background: white;
	border-radius: 8px;
	font-weight: bold;
	border: none;
	position: absolute;
	width: 70%;
	bottom: 40px;
	padding: 7px;
}

.install > i
{
	position: absolute;
	top:5px;
	left:5px;
	font-size: 3rem;
	padding: 5px;
}

.install .logo
{
	position: absolute;
	width: 90px;
	height: 90px;
	top: -33px;
	left: calc(50% - 45px);
	border-radius: 20px;
	background: white;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	transition: all 300ms cubic-bezier(0.7, 0, 1, 1);
	transform: scale(0);
}

.install.opened .logo
{
	transition: all 300ms cubic-bezier(0.1, 0.9, 0, 1) 200ms;
	box-shadow: 0 5px 10px -6px rgba(0,0,0,0.3);
	transform: scale(1);
}

.install img
{
	filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
	opacity: 0;
	transform: scale(1.1);
	width: 100%;
	position: absolute;
	transition: all 300ms cubic-bezier(0.7, 0, 1, 1);
}

.install.opened img:nth-child(1)
{
	filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.4));
}

.install img.opened
{
	transform: scale(1);
	opacity: 1;
	transition: all 500ms cubic-bezier(0.1, 0.9, 0, 1) 300ms;
}

.hidden
{
	transform: translateY(200px);
	opacity: 0;
}

.maxim
{
	color: var(--colorMax);
}

.noselect
{
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/*.animateSlideIn
{
	animation: animateSlideIn 500ms cubic-bezier(0.1, 0.9, 0, 1) forwards;
}

@keyframes animateSlideIn{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

.animateSlideInLight
{
	animation: animateSlideInLight 500ms cubic-bezier(0.1, 0.9, 0, 1) forwards;
}

@keyframes animateSlideInLight{
	0%{
		transform: scale(1.05);
	}
	100%{
		transform: scale(1);
	}
}*/

.animateSlideTop
{
	animation: animateSlideTop 500ms cubic-bezier(0.1, 0.9, 0, 1) forwards;
}

@keyframes animateSlideTop{
	0%{
		transform: translateY(-10px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

header h1
{
	position: absolute;
	margin: 0;
	font-size: 2.3rem;
	text-align: center;
	text-transform: uppercase;
	color: inherit;
}









.labelfile
{
	border-radius: 10px;
	width: 100%;
	height: 40px;
	background: linear-gradient(to top left, #fff, #ddd);
	border: 2px black solid;
	text-transform: uppercase;
	font-size: 2.2rem;
	font-weight: bold;
	text-align: center;
	padding: 5px 0px;
	margin: 0 0 15px 0;
	cursor: pointer;
}

.labelfile input
{
	height: 0;
	opacity: 0;
}

@media screen and (min-width: 600px){

	.install
	{
		z-index: 6;
		position: fixed;
		top: 15vh;
		left: 20vw;
		right: 20vw;
	}

	.install button
	{
		width: 50%;
	}
}

@media screen and (min-width: 900px){
	:root{
		--colorAdd: linear-gradient(155deg, rgba(187,156,152,1) 0%, rgba(69,60,108,1) 100%);
	}

	body{
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 5px;
		padding-top: 65px;
	}
}