@import "./switches.css";
@import "./parametres.css";
@import "./popups.css";
@import "./forms.css";
@import "./menus.css";
@import "./auth.css";



:root {
	font-size: 10px;
	font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;

	/* Variables css */
	--colorHeader: #2d2929;
	--colorHeaderTablet: #211c1c;
	--colorCourse: #885e58;
	--colorText: white;
	--colorTextLight: rgb(236, 236, 236);
	--colorTextLight2: rgb(218, 218, 218);
	--colorAdd: rgb(0,132,195);
	--colorAddPrev: #9e937e;
	--colorAddBt: #0078d4;
	--colorMain: black;
	--colorMainLight: hsl(0, 3%, 12%);
	--colorMainLight2: hsl(0, 3%, 25%);
	--colorMainAlpha: rgba(0,0,0,0.7);
	--colorText: white;
	--previewS: 10%;
	--previewL: 45%;
	--colorArticleButton: #404746;
	--colorArticle: linear-gradient(to right, #535a61 0%, var(--colorArticleButton) 90%);
	--colorLight: rgb(46, 44, 44);
	--shadow2: 0 0 10px 2px rgba(255,255,255,0.1);
	--ease-enter: cubic-bezier(0.1 , 0.9 , 0.2 , 1);
	--ease: cubic-bezier(0.8 , 0 , 0.2 , 1);
	--ease-sortir: cubic-bezier(0.7 , 0 , 1 , 0.5);
	--colorBlur: linear-gradient(to top, rgba(30,30,30,0.7) 0%, rgba(30,30,30,1) 70%);

	--colorMax: var(--colorText);
	min-height: 100vh;
}

:root.theme-light {
	--colorHeader: #ebf3f5;
	--colorHeaderTablet: #ecf2f3;
	--colorCourse: #fdebe8;
	--colorText: black;
	--colorTextLight: #333;
	--colorTextLight2: rgb(85, 64, 64);
	--previewS: 40%;
	--previewL: 95%;
	--colorArticleButton: #d5f6f0;
	--colorArticle: linear-gradient(to right, #f7fbfe 0%, #eefcf9 90%);
	--colorLight: rgb(250,250,250);
	--shadow2: 0 0 10px 2px rgba(0,0,0,0.1);
	--colorMain: white;
	--colorMainLight: hsl(20, 27%, 98%);
	--colorMainLight2: hsl(18, 25%, 93%);
	--colorMainAlpha: rgba(255,255,255,0.7);
	--colorBlur: linear-gradient(to top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,1) 70%);
}

body{
	background: var(--colorMain);
	margin: 0;
  	min-height: -webkit-fill-available;
}

img{
	width: auto;
	height: auto;
}

.bodyPreview{
	background: var(--colorMainLight);
	transition: all 300ms ease;
}

.flex{
	display: flex;
	justify-content: center;
}

.card{
	flex: 1;
	margin: 2px;
	padding: 10px;
	background-color: var(--colorMainLight2);
	border-radius: 6px;
}

#touchSurface
{
	position: absolute;
	height: 56px;
	left: 0;
	right: calc(3rem + (56px - 3rem)/2);
	top: 0;
	z-index: 2;
}

.offline
{
	overflow: hidden;
	height: 61px;
	position: relative;
	text-transform: uppercase;
	font-size: 1.9rem;
	color: white;
	text-align: right;
	font-weight: bold;
	background: linear-gradient(90deg,#ff8a00,#e52e71);
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.3);
}

.offline p
{
	margin: 5px 0 0 0;
	text-transform: lowercase;
	font-size: 1.2rem;
	color: rgba(255,255,255,0.95);
}

.offline i
{
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 41px;
}

.install
{
	z-index: 6;
	position: fixed;
	top: 15vh;
	left: 10px;
	right: 10px;
	height: 200px;
	padding: 30px 20px;
	background: linear-gradient(45deg, rgba(64,32,145,1) 0%, rgba(0,255,214,1) 100%);
	border-radius: 15px;
	flex-direction: column;
	align-items: center;
	color: white;
	box-sizing: border-box;
	display: none;
	box-shadow: 0 4px 10px -6px rgba(0,0,0,0.3);
	opacity: 0;
	transform: scale(0.97);
	transform-origin: 50% 20%;
	transition: all 100ms cubic-bezier(0.7, 0, 1, 0);
}

.install.opened
{
	opacity: 1;
	transform: scale(1);
	transition: all 300ms cubic-bezier(0.1, 1, 0, 1);
}

.install button
{
	font-size: 2rem;
	font-weight: bold;
	margin: 5px 0;
	background: white;
	border-radius: 8px;
	font-weight: bold;
	border: none;
	position: absolute;
	width: 70%;
	bottom: 40px;
	padding: 7px;
}

.install > i
{
	position: absolute;
	top:5px;
	left:5px;
	font-size: 3rem;
	padding: 5px;
}

.install .logo
{
	position: absolute;
	width: 90px;
	height: 90px;
	top: -33px;
	left: calc(50% - 45px);
	border-radius: 20px;
	background: white;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	transition: all 300ms cubic-bezier(0.7, 0, 1, 1);
	transform: scale(0);
}

.install.opened .logo
{
	transition: all 300ms cubic-bezier(0.1, 0.9, 0, 1) 200ms;
	box-shadow: 0 5px 10px -6px rgba(0,0,0,0.3);
	transform: scale(1);
}

.install img
{
	filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
	opacity: 0;
	transform: scale(1.1);
	width: 100%;
	position: absolute;
	transition: all 300ms cubic-bezier(0.7, 0, 1, 1);
}

.install.opened img:nth-child(1)
{
	filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.4));
}

.install img.opened
{
	transform: scale(1);
	opacity: 1;
	transition: all 500ms cubic-bezier(0.1, 0.9, 0, 1) 300ms;
}

.hidden
{
	transform: translateY(200px);
	opacity: 0;
}

.loader
{
	font-size: 3rem;
	font-weight: bold;
	visibility: collapse;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 8;
	background: var(--colorMainAlpha);
	color: var(--colorText);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loader.opened
{
	visibility: visible;
	opacity: 1;
	transition: visibility 300ms ease-in, opacity 300ms ease-in 1s;
}

.loader div
{
	width: 90%;
	margin: 5%;
	height: 10px;
	background: #03787C;
	border-radius: 10px;
	animation: loaderBar 1s cubic-bezier(0.8,0,0,1) infinite alternate;
}

@keyframes loaderBar{
	0%{
		width: 10px;
		margin-left: 5%;
		margin-right: calc(95% - 10px);
	}
	50%{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	100%{
		width: 10px;
		margin-right: 5%;
		margin-left: calc(95% - 10px);
	}
}

.maxim
{
	color: var(--colorMax);
}

.noselect
{
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.animateSlideIn
{
	animation: animateSlideIn 500ms cubic-bezier(0.1, 0.9, 0, 1) forwards;
}

@keyframes animateSlideIn{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

.animateSlideTop
{
	animation: animateSlideTop 500ms cubic-bezier(0.1, 0.9, 0, 1) forwards;
}

@keyframes animateSlideTop{
	0%{
		transform: translateY(-10px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

header
{
	box-sizing: border-box;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding: 2px 0px 5px 0px;
	background: var(--colorMain);
	color: var(--colorText);
	box-shadow: 0px 2px var(--colorMainLight2);
}

header.tablet{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--colorHeaderTablet);
	color: var(--colorTextLight);
	border-radius: 0;
	box-shadow: none;
}

header i
{
	font-size: 3rem;
	color: inherit;
	padding: calc(14px - 0.7rem);
	position: absolute;
	top: calc(14px - 0.7rem);
	right: calc(14px - 0.7rem);
	box-sizing: border-box;
}

header.tablet i:nth-child(2){
	right: calc(14px + 4.3rem);
}

header.tablet i:nth-child(3){
	right: calc(14px + 9.3rem);
}

header.tablet i:nth-child(4){
	right: calc(14px + 14.3rem);
}

header h1
{
	text-align: center;
	text-transform: uppercase;
	color: inherit;
	font-size: 2.5rem;
	margin: 10px;
	max-width: 75%;
}

header.tablet h1{
	text-align: left;
	margin-left: 10%;
}

body > h1
{
	display: none;
	margin: 0px 0px 0px 30px;
	font-size: 2.3rem;
}

.main
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-bottom: 150px;
	overflow: hidden;
	transition: all 250ms cubic-bezier(0.8, 0.1, 0.1, 0.8);
	min-height: 100px;
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	padding-top: 2px;
}

.main#liste{
	padding-bottom: 80px;
}

.main ul{
	width: 100%;
	box-sizing: border-box;
}

#panier ul{
	margin: 0;
	padding: 0 5px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 7px;
	list-style-type: none;
	opacity: 1;
	transform: translateX(0);
	transition: all 300ms cubic-bezier(0.1,0.9,0,1);
}

.bodyPreview #panier ul{
	transition: all 350ms cubic-bezier(0.1,0.9,0,1);
	opacity: 0;
	transform: translateX(-100vw);
}

#liste ul
{
	opacity: 0;
	transform: translateX(100vw);
	left: 0;
	top: 60px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 6px;
	list-style-type: none;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px 5px;
	transition: all 150ms cubic-bezier(0.1,0.9,0,1);
}

.bodyPreview #liste ul
{
	transition: all 300ms cubic-bezier(0.1,0.9,0,1);
	opacity: 1;
	transform: translateX(0);
}

.article, .preview
{
	color: var(--colorText);
	min-height: 66px;
	position: relative;
	padding: 10px 5px;
	background: var(--colorArticle);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.03);
	border-radius: 5px;
	transition: all 100ms cubic-bezier(0.9, 0.1, 1, 0);
	overflow: hidden;
	max-width: 100vw;
	box-sizing: border-box;
}

.preview
{
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.01);
}

.bgCards
{
	z-index: 0;
	position: absolute;
	top: -30px;
	right: 0;
	bottom: -30px;
	width: 0;
	border-radius: 100px 0 0 100px;
	box-shadow: -2px 0px 15px -8px rgba(0,0,0,0);
	background: #CA5010;
	transition: all 100ms cubic-bezier(0.9, 0.1, 1, 0);
}

.ready .bgCards
{
	width: 40%;
	box-shadow: -2px 0px 15px -4px rgba(0,0,0,0.2);
	transition: all 100ms cubic-bezier(0.1, 0.9, 0, 1);
}

.article.disabled
{
	background: var(--colorMainLight2);
}

.article h2
{
	font-size: 2rem;
	margin: 0px;
}

.preview h2
{
	font-size: 2rem;
	margin: 10px;
}

.article h3
{
	color: var(--colorLightText);
	font-size: 1.5rem;
	margin: 0px;
}

.article i, .preview i
{
	background: var(--colorArticleButton);
	margin: 0;
	padding: 10px;
	position: absolute;
	z-index: 1;
	font-size: 30px;
	right: 0;
	top: calc(50% - 25px);
	box-sizing: border-box;
	border-radius: 50%;
	transition: all 100ms cubic-bezier(0.1, 0.9, 0, 1);
}

.article.disabled i, .preview.disabled i
{
	display: none;
}

.article i.Security, .preview i.Security
{
	margin: 10px;
	padding: 0;
	background: none;
	opacity: 0;
	transform: scale(0);
	color: white;
	transition: all 100ms cubic-bezier(0.9, 0.1, 1, 0);
}

.article i.noDelete, .preview i.noDelete
{
	background: none;
	visibility: hidden;
	right: 50px;
	opacity: 0;
	transform: translateX(50px);
	color: white;
	transition: all 80ms cubic-bezier(0.9, 0.1, 1, 0);
}

.preview i.buy
{
	background: none;
	right: 50px;
	transition: all 80ms cubic-bezier(0.9, 0.1, 1, 0);
}

.ready i
{
	opacity: 0;
	transform: scale(0);
	transition: all 100ms cubic-bezier(0.9, 0.1, 1, 0);
}

.ready i.Security
{
	opacity: 1;
	transform: scale(1);
	transition: all 100ms cubic-bezier(0.1, 0.9, 0, 1) 50ms;
}

.ready i.noDelete
{
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
	transition: all 100ms cubic-bezier(0.1, 0.9, 0.9, 1.1);
}








.labelfile
{
	border-radius: 10px;
	width: 100%;
	height: 40px;
	background: linear-gradient(to top left, #fff, #ddd);
	border: 2px black solid;
	text-transform: uppercase;
	font-size: 2.2rem;
	font-weight: bold;
	text-align: center;
	padding: 5px 0px;
	margin: 0 0 15px 0;
	cursor: pointer;
}

.labelfile input
{
	height: 0;
	opacity: 0;
}

@media screen and (min-width: 600px){
	#panier ul, #liste ul
	{
		grid-template-columns: 1fr 1fr;
	}

	.install
	{
		z-index: 6;
		position: fixed;
		top: 15vh;
		left: 20vw;
		right: 20vw;
	}

	.install button
	{
		width: 50%;
	}
}

@media screen and (min-width: 900px){
	:root{
		--colorAdd: linear-gradient(155deg, rgba(187,156,152,1) 0%, rgba(69,60,108,1) 100%);
	}

	body{
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 5px;
		padding-top: 65px;
	}

	header.phones{
		display: none;
	}

	header.tablet{
		display: block;
	}

	.main#panier, .main#liste{
		visibility: visible;
		position: relative;
		top: 0;
		left: 0;
		padding: 5px;
		display: flex;
	}

	#panier ul, #liste ul{
		grid-template-columns: 1fr;
		width: 100%;
		opacity: 1;
		transform: none;
	}

	body > h1{
		display: block;
	}
}